// ######################################## //
// ## COLORS.SCSS ## //
// ######################################## //


// Black (Gray) Color Shades
$white: #FFFFFF;
$gray-light: #D9D9D9;
$gray-dim: #BDBDBD;
$gray-normal: #A7A9AC;
$gray: rgba(#000, 0.44);
$gray-bg: #EEEEEE;
$gray-bg-alt: #9e9e9e;
$gray-lighter: #7b7b7b;
$gray-bg-fb: #E9EAED;
$gray-dark: #484848;
$gray-x-dark: #121212;
$gray-x-light: #f9f9f9;
$black: #000000;


// -----------------------------
// Material Color Shades
// -----------------------------

// Red
$material-red-bg: #ffe7ea;
$material-red-light: #edb3af;
$material-red: #9d3730;
$material-red-dark: #B72025;
$notification-red: #d42929;

// Orange
$material-orange-bg: #FFECD5;
$material-orange-light: #e1a392;
$material-orange: #f26a46;
$material-orange-dark: #CE4927;

// Green
$material-green-bg: #E9F2D2;
$material-green-light: #a0bfa0;
$material-green: #4daf4e;
$material-green-dark: #1E5F30;

// Blue
$material-blue-bg: #D7E5F6;
$material-blue-light: #a1bbd5;
$material-blue: #5d8ac7;
$material-blue-dark: #3364AA;

// Yellow
$material-yellow-bg: #FEF9C5;
$material-yellow-light: #f6bf6c;
$material-yellow: #f9a01b;
$material-yellow-dark: #cd590a;

// Pink
$material-pink-bg: #ffedf4;
$material-pink-light: #dfa4c3;
$material-pink: #e12e8c;
$material-pink-dark: #C11E65;

// Teal
$material-teal-bg: #d3f3f3;
$material-teal-light: #8ecfc7;
$material-teal: #35b4a6;
$material-teal-dark: #006A5C;

// Purple
$material-purple-bg: #f2f0fe;
$material-purple-bg-light: #f8e4ff;
$material-purple-light: #9192c0;
$material-purple: #494f9c;
$material-purple-dark: #66499E;

// Brown
$material-brown-bg: #ece2d7;
$material-brown-light: #c99bd5;
$material-brown: #955ba5;
$material-brown-dark: #917859;


// -------------------------------------
// Color Shades (Theme Based - Xclusive)
// -------------------------------------


$theme-primary: #494f9c;
$theme-primary-bg: #eaeaff;
$theme-primary-light: #9192c0;
$theme-primary-dark: #66499E;
$theme-selection-color: #333333;
$theme-selection-bg: #F6EC13;
$theme-blue: #007bff;
$theme-gray: #95a5a6;
$theme-gold: #DEAA26;
$theme-silver: #B4B8BC;
$theme-bronze: #D0A686;
$theme-blue-bg: #f1f9ff;


// -----------------------------
// Colors for New Labels
// -----------------------------


// Label Primary
$theme-label-blue: #c4d6f5;

// Label Success
$theme-label-green: #bff2d1;

// Label Danger
$theme-label-red: #ffc9c5;

// Label-info
$theme-label-purple: #ead4ff;

// Label warning
$theme-label-Yellow: #ffdd57;


// -----------------------------
// Colors for Social Icons
// -----------------------------

// Facebook Color
$color-facebook: #3b5998;

// Twitter Color
$color-twitter: #1da1f2;

// Linkedin Color
$color-linkedin: #0077b5;

// Youtube Color
$color-youtube: #cd201f;

// Google Plus Color
$color-gplus: #dd4b39;

// Pinterest Color
$color-pinterest: #bd081c;

// Instagram Color
$color-instagram: #c13584;

// Whatsapp Color
$color-whatsapp: #62BE4E;


// *********************
$alert-orange-bg: #f58442;
$alert-orange-light-bg: #fff8f4;
$alert-orange: #e1702f;
$color-whatsapp: #128c7e;
