/*
Profile.SCSS
*/


.profile-header {

  .profile-info {
    display: flex;
  }

  .profile-data {
    margin-left: 40px;
  }

  p {
    margin: 0;
  }

  .user-name {
    color: $theme-primary;
    box-shadow: none;
  }

  .user-email {
    opacity: .5;
  }
}