/*
Contact form SCSS
*/

.contact-us-form {

  @include mobile {
    max-width: 300px;
  }

  .form-control {
    height: 50px;
    border: 1px solid transparent;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
  }

  textarea {
    border: 1px solid transparent;
    border-radius: 5px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.1);
    padding: .5rem .75rem;
    max-width: 100%;
		max-height: 200px;
  }
}

.form-height {
  min-height: 500px;
}

.form-check-label {
  display: flex;
  flex-direction: column;
}

// Slider SCSS

#slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; 
  height: 1px; 
  background: $gray-light;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;

  &:hover {
    opacity: 1;
  }

  &:before {
    content: '';
    // border-left: 1px solid $gray-light;
  }

  &:after {
    content: '';
    // border-right: 1px solid $gray-light;
  }
}

// wrapper around the input 
.sliderange {
  position: relative;
  display: block;
  text-align: center;

  .range-map {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
}

/* The slider handle (use webkit (Chrome, Opera, Safari, Edge) and moz (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 20px;
  background: $white;
  border: 1px solid $gray-light;
  border-radius: 3px;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 20px;
  background: $white;
  border: 1px solid $gray-light;
  border-radius: 3px;
  cursor: pointer;
}
